.userIcon{
    border-radius: 100%;
    max-width:150px ;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.userInformation{
    width: 100%;
    min-height:300px ;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.UserSection{
    width: 100%;
    height: 94vh;
}
.userInformation h3{
    color: #3D1723;
text-align: center;
font-family: Rowdies;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.userEdit{
    display: flex;
    align-items: center;
    gap: 10px;
}
.editIcon{
    max-width: 32px;
    max-height: 32px;
}
.carrosels{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.PetsCarrosel{
    width: 60%;
    height: 50%;
    max-width: 1000px;
}
.petCards{
    display: flex;
    overflow-x:auto ;
    scroll-behavior: smooth;
    flex-direction: row;
    width: 90%;
    margin: 0 15px 0 15px;
}
.petCards::-webkit-scrollbar{
    display: none;
}
.carouselArrows{
    display: flex;
    align-items: center;
}
.tittlePets{
    margin: 0 0 0 35px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.tittlePets h3{
    color: #4A2C36;
font-family: Rowdies;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.tittlePets h4{
    color: #F98AAE;
    font-family: Rowdies;
    font-size: 18px;
    margin: 0 0 3px 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.arrow:hover{
    cursor: pointer;
}
.modalUser{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.411);
    transition: 1s;
}
.modalContainerUser{
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;

}

.modalTittle{
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
    border-bottom: 1px black solid;
}
.modalTittle h3{
    color: #F98AAE;
    font-family: Rowdies;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: 20px;

}
.userEditContainer{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.modalDelete{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteModalContainer{
    width: 30%;
    height: 40%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.modalDeleteTittle h1{
    color: #F98AAE;
    font-family: Rowdies;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.inputDelete{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}