li img{
    max-width: 303px;
}
li{
    display: flex;
    flex-direction: column;

}
ul{
    display: flex;
    justify-content: space-evenly;
}
.About{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
.Banner{
    width: 80%;
    background: rgba(255, 178, 203, 0.30);

}
li a{
    font-size: 15px;
}
li h2{
    width: 300px;
    margin: 0;
    text-align: center;
}