@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Rowdies:wght@300&display=swap');

.App, html, body, #root{
  width: 100%;
  min-height: 200vh;
  margin: 0;
  padding: 0;
}